<ion-header>
  <ion-toolbar>
    <ion-title >
        Banco de Pacientes
    </ion-title>
    <ion-button slot="end" routerLink="/home">Registrar Pacientes</ion-button>
    <ion-button slot="end" routerLink="/consultar">Consultar Pacientes</ion-button>
    <ion-button slot="end" (click)="cerrarSesion()">Cerrar Sesion</ion-button>
    <ion-button routerLink="/medicos" fill="clear" slot="end">
      <ion-icon slot="icon-only" name="arrow-forward"></ion-icon>
    </ion-button>  
  </ion-toolbar>
</ion-header>

<ion-content padding>

</ion-content>
