.card{
    align-content: center;
    margin: auto;
    width: 40%;
}
.login-page{
    padding-left: 50px;
    padding-right: 50px
}
ion-toolbar .toolbar-background{
    background-color: #00A8E8 !important;
}
.grid{

    padding: auto;
}