<ion-header>
  <ion-toolbar>
    <ion-title >
      Formulario Datos Personales
    </ion-title>
    <ion-button slot="end" (click)="cerrarSesion()">Cerrar Sesion</ion-button>
    <ion-button routerLink="/medicos" fill="clear" slot="end">
        <ion-icon slot="icon-only" name="arrow-forward"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content >
  <ion-grid class="grid">
    <ion-row>
      <ion-col size="1">
      </ion-col>
      <ion-col size="4.5">
        <ion-list>
          <ion-item>
            <ion-label position="floating">E.P.S:</ion-label>
            <ion-select okText="Seleccionar" cancelText="Cerrar">
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Nombre:</ion-label>
            <ion-input></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Apellido:</ion-label>
            <ion-input></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Tipo de Documento:</ion-label>
            <ion-select okText="Seleccionar" cancelText="Cerrar">
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Numero de Identidad:</ion-label>
            <ion-input></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Fecha de Nacimiento:</ion-label>
            <ion-datetime display-format="DD MMM, YYYY"></ion-datetime>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Lugar de Nacimiento:</ion-label>
            <ion-input></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Genero:</ion-label>
            <ion-select okText="Seleccionar" cancelText="Cerrar">
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Estado Civil:</ion-label>
            <ion-select okText="Seleccionar" cancelText="Cerrar">
              <ion-select-option *ngFor="let estadoCivil of estadoCivilList$ | async"
                                 [value]="estadoCivil.descripcion">{{estadoCivil.descripcion}}</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item> 
            <ion-label position="floating">Nivel Educativo:</ion-label>
            <ion-select okText="Seleccionar" cancelText="Cerrar">
            </ion-select>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col size="1">
      </ion-col>
      <ion-col size="4.5">
        <ion-list>
          <ion-item>
            <ion-label position="floating">Historia Clinica:</ion-label>
            <ion-input></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Fecha:</ion-label>
            <ion-datetime display-format="DD MMM, YYYY"></ion-datetime>
          </ion-item>
          <ion-item> 
            <ion-label position="floating">Nivel Socioeconomico:</ion-label>
            <ion-select okText="Seleccionar" cancelText="Cerrar">
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Ocupación:</ion-label>
            <ion-input></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Telefono Celular:</ion-label>
            <ion-input></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Telefono Fijo:</ion-label>
            <ion-input></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Correo:</ion-label>
            <ion-input></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Dierección:</ion-label>
            <ion-input></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Responsable:</ion-label>
            <ion-input></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Telefono Responsable:</ion-label>
            <ion-input></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col size="1">
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
