<ion-header>
  <ion-toolbar>
    <ion-title >
      Formulario Datos Personales
    </ion-title>
    <ion-button routerLink="/mensajeria" fill="clear" slot="start">
      <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
    </ion-button>
    <ion-button (click)="validateFormPersonal()" fill="clear" slot="end">
        <ion-icon slot="icon-only" name="arrow-forward"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formPersonales"> <!--permite añadir las vaildaciones-->
    <ion-grid class="grid">
      <ion-row>
        <ion-col size="1">
        </ion-col>
        <ion-col size="4.5">
          <ion-list>
            <ion-item>
              <ion-label position="floating">* E.P.S:</ion-label>
              <ion-select formControlName="eps" okText="Seleccionar" cancelText="Cerrar">
                <ion-select-option *ngFor="let eps of epsList$ | async"
                [value]="eps.descripcion">{{eps.descripcion}}</ion-select-option>
              </ion-select>
              <div *ngIf="!formPersonales.controls.eps.valid && formSubmit">
               <small style = "color:red"> Campo Obligatorio</small>
              </div>
            </ion-item>
            <ion-item>
              <ion-label position="floating">* Nombre:</ion-label>
              <ion-input formControlName="nombre"></ion-input>
              <div *ngIf="!formPersonales.controls.nombre.valid && formSubmit">
                <small style = "color:red"> Campo Obligatorio</small>
              </div>
            </ion-item>
            <ion-item>
              <ion-label position="floating">* Apellido:</ion-label>
              <ion-input formControlName="apellido"></ion-input>
              <div *ngIf="!formPersonales.controls.eps.valid && formSubmit">
                <small style = "color:red"> Campo Obligatorio</small>
              </div>
            </ion-item>
            <ion-item>
              <ion-label position="floating">* Tipo de Documento:</ion-label>
              <ion-select formControlName="tipo_documento" okText="Seleccionar" cancelText="Cerrar">
                <ion-select-option *ngFor="let tipo_documento of tipo_documento$ | async"
                [value]="tipoDocumento.descripcion">{{tipo_documento.descripcion}}</ion-select-option>
              </ion-select>
              <div *ngIf="!formPersonales.controls.tipo_documento.valid && formSubmit">
                <small style = "color:red"> Campo Obligatorio</small>
              </div>
            </ion-item>
            <ion-item>
              <ion-label position="floating">* Numero de Identidad:</ion-label>
              <ion-input formControlName="numero_identidad"></ion-input>
              <div *ngIf="!formPersonales.controls.numero_identidad.valid && formSubmit">
                <small style = "color:red"> Campo Obligatorio</small>
              </div>
            </ion-item>
            <ion-item>
              <ion-label>* Fecha de Nacimiento:</ion-label>
              <ion-datetime formControlName="fecha_nacimiento" display-format="DD MMM, YYYY"></ion-datetime>
              <div *ngIf="!formPersonales.controls.fecha_nacimiento.valid && formSubmit">
                <small style = "color:red"> Campo Obligatorio</small>
              </div>
            </ion-item>
            <ion-item>
              <ion-label position="floating">* Lugar de Nacimiento:</ion-label>
              <ion-input formControlName="lugar_nacimiento"></ion-input>
              <div *ngIf="!formPersonales.controls.lugar_nacimiento.valid && formSubmit">
                <small style = "color:red"> Campo Obligatorio</small>
              </div>
            </ion-item>
            <ion-item>
              <ion-label position="floating">* Genero:</ion-label>
              <ion-select formControlName="genero" okText="Seleccionar" cancelText="Cerrar">
                <ion-select-option *ngFor="let genero of generoList$ | async"
                [value]="genero.descripcion">{{genero.descripcion}}</ion-select-option>
              </ion-select>
              <div *ngIf="!formPersonales.controls.genero.valid && formSubmit">
                <small style = "color:red"> Campo Obligatorio</small>
              </div>
            </ion-item>
            <ion-item>
              <ion-label position="floating">* Estado Civil:</ion-label>
              <ion-select formControlName="estado_civil" okText="Seleccionar" cancelText="Cerrar">
                <ion-select-option *ngFor="let estado_civil of estado_civil$ | async"
                                  [value]="estado_civil.descripcion">{{estado_civil.descripcion}}</ion-select-option>
              </ion-select>
              <div *ngIf="!formPersonales.controls.estado_civil.valid && formSubmit">
                <small style = "color:red"> Campo Obligatorio</small>
              </div>
            </ion-item>
            <ion-item> 
              <ion-label position="floating">* Nivel Educativo:</ion-label>
              <ion-select formControlName="nivel_educacion" okText="Seleccionar" cancelText="Cerrar">
              </ion-select>
              <div *ngIf="!formPersonales.controls.nivel_educacion.valid && formSubmit">
                <small style = "color:red"> Campo Obligatorio</small>
              </div>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col size="1">
        </ion-col>
        <ion-col size="4.5">
          <ion-list>
            <ion-item>
              <ion-label position="floating">* Historia Clinica:</ion-label>
              <ion-input formControlName="historia_clinica"></ion-input>
              <div *ngIf="!formPersonales.controls.historia_clinica.valid && formSubmit">
                <small style = "color:red"> Campo Obligatorio</small>
              </div>
            </ion-item>
            <ion-item>
              <ion-label>* Fecha:</ion-label>
              <ion-datetime formControlName="fecha" display-format="DD MMM, YYYY"></ion-datetime>
              <div *ngIf="!formPersonales.controls.fecha.valid && formSubmit">
                <small style = "color:red"> Campo Obligatorio</small>
              </div>
            </ion-item>
            <ion-item> 
              <ion-label position="floating">* Nivel Socioeconomico:</ion-label>
              <ion-select formControlName="nivel_socioeconomico" okText="Seleccionar" cancelText="Cerrar">
              </ion-select>
              <div *ngIf="!formPersonales.controls.nivel_socioeconomico.valid && formSubmit">
                <small style = "color:red"> Campo Obligatorio</small>
              </div>
            </ion-item>
            <ion-item>
              <ion-label position="floating">* Ocupación:</ion-label>
              <ion-input formControlName="ocupacion"></ion-input>
              <div *ngIf="!formPersonales.controls.ocupacion.valid && formSubmit">
                <small style = "color:red"> Campo Obligatorio</small>
              </div>
            </ion-item>
            <ion-item>
              <ion-label position="floating">* Telefono Celular:</ion-label>
              <ion-input formControlName="telefono_celular"></ion-input>
              <div *ngIf="!formPersonales.controls.telefono_celular.valid && formSubmit">
                <small style = "color:red"> Campo Obligatorio</small>
              </div>
            </ion-item>
            <ion-item>
              <ion-label position="floating">* Telefono Fijo:</ion-label>
              <ion-input formControlName="telefono_fijo"></ion-input>
              <div *ngIf="!formPersonales.controls.telefono_fijo.valid && formSubmit">
                <small style = "color:red"> Campo Obligatorio</small>
              </div>
            </ion-item>
            <ion-item>
              <ion-label position="floating"> Correo:</ion-label>
              <ion-input formControlName="correo"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">* Dierección:</ion-label>
              <ion-input formControlName="direccion"></ion-input> <!--controla que el campo este valido-->
              <div *ngIf="!formPersonales.controls.direccion.valid && formSubmit"> <!--imprime un mensaje (rojo) que el campo es obligatorio cuando intentas dejarlo-->
                <small style = "color:red"> Campo Obligatorio</small>
              </div>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Responsable:</ion-label>
              <ion-input formControlName="responsable"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Telefono Responsable:</ion-label>
              <ion-input formControlName="telefono_responsable"></ion-input>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col size="1">
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
