<ion-header>
  <ion-toolbar>
    <ion-title>Consultar Pacientes</ion-title>
    <ion-button routerLink="/mensajeria" fill="clear" slot="start">
      <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="grid">
    <ion-row>
      
      <ion-col sizeLg="5" sizeMd="5" sizeSm="5" sizeXl="5" sizeXs="12" class="ion-padding-horizontal">
        <ion-list>
          <ion-item>
            <ion-label position="floating">Rango de edad:</ion-label>
            <ion-select (ionChange)="filtros()"
              [(ngModel)]="rangoEdad"
              okText="Seleccionar" 
              cancelText="Cerrar">
              <ion-select-option *ngFor="let rangoEdad of rangoEdadList"
              [value]="rangoEdad.descripcion">{{rangoEdad.descripcion}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
      </ion-col>
      
      <ion-col sizeLg="5" sizeMd="5" sizeSm="5" sizeXl="5" sizeXs="12" class="ion-padding-horizontal">
        <ion-list>
          <ion-item> 
            <ion-label position="floating">Patología:</ion-label>
            <ion-select (ionChange)="filtros()"
              [(ngModel)]="patologia"
              multiple="true"
              okText="Seleccionar" 
              cancelText="Cerrar">
              <ion-select-option *ngFor="let patologia of patologiaList"
                [value]="patologia.descripcion">{{patologia.descripcion}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
      </ion-col>

      <ion-col sizeLg="2" sizeMd="2" sizeSm="2" sizeXl="2" sizeXs="12">
        <ion-button expand="full" class="filter-button">
          <ion-icon name="funnel"></ion-icon>
        </ion-button>
      </ion-col>
      
    </ion-row>
  </ion-grid>
    
  <ion-list class="ion-margin-top">
    <ion-item class="ion-padding-horizontal">
     
      <ion-col size="2">
        <b>Número Identificación</b>
      </ion-col>
      <ion-col size="3">
        <b>Nombre y Apellido</b>
      </ion-col>
      <ion-col size="3">
        <b>Dirección</b>
      </ion-col>
      <ion-col size="2">
        <b>Teléfono</b>
      </ion-col>
      <ion-col size="2">
        <b>Observación</b>
      </ion-col>
      
    </ion-item>

    <ion-item *ngIf="listPacienteVacia !== ''">{{listPacienteVacia}}</ion-item>

    <ion-item class="ion-padding-horizontal"
      *ngFor="let paciente of pacientesObservable"
      (click)="verPaciente(paciente)">

      <ion-col size="2">
        <ion-text>{{ paciente.numero_identidad }}</ion-text>
        </ion-col>
        <ion-col size="3">
          <ion-text>{{ paciente.nombre }} {{ paciente.apellido }}</ion-text>
        </ion-col>
        <ion-col size="3">
          <ion-text>{{ paciente.direccion }}</ion-text>
        </ion-col>
        <ion-col size="2">
          <ion-text>{{ paciente.telefono_celular }}</ion-text>
        </ion-col>
        <ion-col size="2">
          <ion-text>{{ paciente.observaciones }}</ion-text>
        </ion-col>

    </ion-item>
  </ion-list>

</ion-content>
